<!DOCTYPE html>
<html>
<head>
    <title>Library System</title>
</head>

<body>

<h1>Library System</h1>

<a href="/logout">Logout</a>

{% if session["user"] == "admin" %}
<form method="POST" action="/add">
    <input name="title" placeholder="Title">
    <input name="author" placeholder="Author">
    <button type="submit">Add</button>
</form>
{% endif %}

<hr>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Subject</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
